<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}KIV-WEB - Conference{% endblock %}</title>
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/font-awesome.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/project.css">
<style>
    html, body {
        height:100%;
    }
</style>
</head>

<body>
<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: solid #c09853 1px">
        <a class="navbar-brand" href="{{ frontUrl }}/posts/public"><strong>KIV-WEB - Conference</strong></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
                aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent2">
            <ul class="navbar-nav justify-content-end">
                {% if isUserAuthenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ frontUrl }}/posts/mylist" style="white-space: nowrap;">Moje články</a>
                    </li>

                {% if authenticatedUser.isAdmin %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ frontUrl }}/users/list">Uživatelé</a>
                    </li>
                {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ frontUrl }}/users/me">{{ authenticatedUser.getEmail }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ frontUrl }}/logout">Odhlásit</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ frontUrl }}/login">Přihlásit</a>
                    </li>
                {% endif %}

                <li class="nav-item"><small class="badge-pill text-danger">{{ authenticatedUser.getTypeText }}</small></li>
            </ul>
        </div>
    </nav>

        <div id="content" class="p-2" style="height:80%;">
        {% block body %}{% endblock %}
    </div>

    <hr/>


</div>
<footer class="footer">
    <div class="container"><small>&copy; 2017, Autor: RADEK JUPPA</small></div>

</footer>
<script src="{{ baseUrl }}/assets/js/jquery3.0.js"></script>
<script src="{{ baseUrl }}/assets/js/popper.js"></script>
<script src="{{ baseUrl }}/assets/js/bootstrap.js"></script>

</body>
</html>