{% extends 'base.html.twig' %}

{% block body %}

    <div class="card mx-auto col-md-8 pr-0 pl-0 mt-4">
        <div class="card-header text-white bg-warning mb-3">
            {{ title }}
        </div>
        <div class="card-body">

            <form action="" method="post">
                <input type="hidden" name="csrftoken" value="{{ csrftoken }}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstName">Jméno</label>
                        <input type="text" name="firstName" id="firstName" class="form-control" value="{{ user.getFirstName }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">Příjmení</label>
                        <input type="text" name="lastName" id="lastName" class="form-control" value="{{ user.getLastName }}" required>
                    </div>
                </div>

                {% if authenticatedUser.isAdmin %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_email">Email</label>
                        <input type="email" name="email" id="id_email" class="form-control" value="{{ user.getEmail }}" {% if user.getId > 0 %}readonly{% endif %} >
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_type">Role</label>
                        <select name="type" id="id_type" class="form-control">
                            {% for k, v in typeOpts %}
                                <option value="{{ k }}" {% if user.getType == k %}selected{% endif %}>{{ v }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_isActive">Aktivní</label>
                        <select name="isActive" id="id_isActive" class="form-control">
                            {% for k, v in isActiveOpts %}
                                <option value="{{ k }}" {% if user.getIsActive == k %}selected{% endif %}>{{ v }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}

                <div class="text-danger p-2 text-center">{{ message }}</div>

                <div class="row mx-auto text-center col-8 mt-2">
                    <div class="col-4">
                        <a href="{{ frontUrl }}/users/list" class="btn btn-outline-warning btn-sm">Zpět</a>
                    </div>
                    <div class="col-6">
                        <form action="" method="post">
                            <input type="hidden" name="csrftoken" value="{{ csrftoken }}" />
                            <input type="submit" name="submit" value="Uložit" class="btn btn-warning btn-sm" />
                        </form>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}