{% extends 'base.html.twig' %}

{% block body %}

    <div class="card mx-auto col-md-12 pr-0 pl-0 mt-4">
        <div class="card-header text-white bg-warning mb-3">
            <h5>Uživatelé
            <a href="{{ frontUrl }}/users/create" class="btn btn-sm btn-outline-warning border-white text-white float-right">Nový uživatel</a>
            </h5>
        </div>
        <div class="card-body">

            <table class="table table-sm table-responsive">
                <tr>
                    <th>Jméno</th>
                    <th class="d-none d-md-table-cell">Email</th>
                    <th>Role</th>
                    <th class="d-none d-md-table-cell">Aktivní</th>
                    <th></th>
                </tr>

                {% for user in users %}
                <tr>
                    <td><a href="{{ user.getEditUrl }}">{{ user.getLastName }} {{ user.getFirstName }}</a></td>
                    <td class="d-none d-md-table-cell">{{ user.getEmail }}</td>
                    <td>{{ user.getTypeText }}</td>
                    <td class="d-none d-md-table-cell">{{ user.getIsActiveText }}</td>
                    <td>
                        <a href="{{ user.getDeleteUrl }}" class="btn btn-danger btn-sm float-right">Smazat</a>
                    </td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </div>


{% endblock %}