{% extends 'base.html.twig' %}

{% block body %}

    <div class="card mx-auto col-md-8 pr-0 pl-0 mt-4">
        <div class="card-header text-white bg-warning mb-3">
            Můj Profil
        </div>
        <div class="card-body">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="col-form-label">Jméno</label>
                    <input type="text" class="form-control" value="{{ authenticatedUser.getFirstName }}" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label">Příjmení</label>
                    <input type="text" class="form-control" value="{{ authenticatedUser.getLastName }}" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="col-form-label">Email</label>
                    <input type="text" class="form-control" value="{{ authenticatedUser.getEmail }}" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label">Role</label>
                    <input type="text" class="form-control" value="{{ authenticatedUser.getTypeText }}" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="col-form-label">Vytvořeno</label>
                    <input type="text" class="form-control" value="{{ authenticatedUser.getCreated }}" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label">Aktivní</label>
                    <input type="text" class="form-control" value="{{ authenticatedUser.getIsActiveText }}" readonly>
                </div>
            </div>

        </div>
    </div>

{% endblock %}